<a href="https://colab.research.google.com/github/unipap2005/Test/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('election_data.csv')

In [ ]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [ ]:
count_row = df.shape[0]
count_row

3521001

In [ ]:
cand_list=[]
for i in df:
  cand_list=df.Candidate.unique()
cand_list

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [ ]:
cand_stats = {}
    # iterate over list of unique candidates
for i in cand_list:
        # initialize list of 2 integers for each candidate key
        cand_stats[i] = [0,0]

In [ ]:
cand_stats

{'Correy': [0, 0], 'Khan': [0, 0], 'Li': [0, 0], "O'Tooley": [0, 0]}

In [ ]:
for key, value in cand_stats.items():
  if key == df1[2]:
    value[1] = value[1] + 1
    percent[0] = round(((value[1] / count_row) * 100), 1)  
  else:
    pass
cand_stats.update

In [ ]:
cand_stats

{'Correy': [0, 0], 'Khan': [0, 0], 'Li': [0, 0], "O'Tooley": [0, 0]}

In [ ]:
df1=df.values.tolist()

In [ ]:
df1[2]

[19330107, 'Marsh', 'Khan']